---
import Layout from "../layouts/Layout.astro"
---

<Layout title="OpenQuizer - 404 Page Not Found">
    <main class="flex w-full h-full justify-center items-center">
        <div class="w-1/2 h-1/2 flex justify-center items-center flex-col gap-4">
            <h3 class="text-3xl">404 - Page not found</h3>
            <ul class="flex flex-col items-center gap-2">
                <li><a href="/" class="btn">Back to home screen</a></li>
                <li><a href="/discover" class="btn">Discover</a></li>
                <li><a href="/library" class="btn">My Library</a></li>
            </ul>
        </div>
    </main>
</Layout>