---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="OpenQuizer - My Library">
    <main class="flex flex-wrap justify-center h-0 m-4 gap-4 w-full">
        <Card title="Example Title" description="This is a description"></Card>
        <Card title="Example Title" description="This is a description"></Card>
        <Card title="Example Title" description="This is a description"></Card>
        <Card title="Example Title" description="This is a description"></Card>
        <Card title="Example Title" description="This is a description"></Card>
        <Card title="Example Title" description="This is a description"></Card>
    </main>
</Layout>

<style>
    body.h-full {
        height: auto;
    }
</style>