---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
---

<Layout title="OpenQuizer - My Library">
    <script>
        import PocketBase from 'pocketbase'
        const pb = new PocketBase(import.meta.env.PUBLIC_POCKETBASE)

        if (!pb.authStore.model) location.replace('/login')

        // Fetching sets

        interface SetCard {
            id: string;
            collectionId: string;
            creator: string;
            title: string;
            description: string;
            created: string;
        }

        const sets: SetCard[] = await pb.collection('sets').getFullList({
            filter: `creator.id = "${pb.authStore.model?.id}"`,
            sort: '-created'
        })

        const cardHTML = `<div class="card-body">
      <h2 class="card-title"></h2>
      <p></p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary">View</a>
      </div>
    </div>`
        sets.forEach(set => {
            const el = document.createElement('div')

            el.setAttribute('class', 'card bg-base-100 w-96 max-w-sm h-48 shadow-xl')
            el.innerHTML = cardHTML;
            (el.querySelector('h2') as HTMLHeadingElement).innerText = set.title;
            (el.querySelector('p') as HTMLParagraphElement).innerText = set.description;
            (el.querySelector('a') as HTMLAnchorElement).setAttribute('href', `/card/${set.id}`)

            document.querySelector('main')?.append(el)
        })

        // UI JS

        const dialogBtn: HTMLButtonElement = document.getElementById('modal-btn') as HTMLButtonElement
        const createDialog: HTMLDialogElement = document.getElementById('create-dialog') as HTMLDialogElement
        dialogBtn.addEventListener('click', () => createDialog.showModal())

        const createBtn: HTMLButtonElement = document.getElementById('create-btn') as HTMLButtonElement
        const createName: HTMLInputElement = document.getElementById('name') as HTMLInputElement
        const createPublic: HTMLInputElement = document.getElementById('public') as HTMLInputElement
        const errorElem = document.getElementById('error-message') as HTMLParagraphElement

        createBtn.addEventListener('click', async () => {
            const nameVal = createName.value
            const publicVal = createPublic.checked

            if (nameVal.length < 3 || nameVal.length > 30) renderError('Set name must be between 3 and 30 characters long', errorElem)

            try {
                const record = await pb.collection('sets').create({
                    "title": nameVal,
                    "public": publicVal,
                    "creator": pb.authStore.model?.id
                })

                location.replace(`/edit/${record.id}`)
            } catch {
                renderError('An error occured', errorElem)
            }
        })

        function renderError(message: string, elem: HTMLParagraphElement | null) {
            if (elem?.innerText != undefined) 
                elem.innerText = message
        }
    </script>

    <main class="flex flex-wrap justify-center h-0 m-4 gap-4 w-full">
        <button class="btn btn-secondary fixed left-3 bottom-3" id="modal-btn">Create</button>
        <dialog id="create-dialog" class="modal modal-bottom sm:modal-middle">
            <div class="modal-box">
              <h3 class="text-lg font-bold">Create your set</h3>
              <label class="label">Title: <input type="text" id="name" class="input input-bordered" /></label>
              <label class="label">Public: <input type="checkbox" id="public" class="toggle toggle-accent" checked="checked" /></label>
              <p id="error-message" class="text-red-600"></p>
              <div class="modal-action">
                <button class="btn btn-primary" id="create-btn">Create</button>
                <form method="dialog">
                  <button class="btn">Close</button>
                </form>
              </div>
            </div>
        </dialog>
    </main>
</Layout>

<style>
    body.h-full {
        height: auto;
    }
</style>