---
import Layout from "../layouts/Layout.astro"
---

<Layout title="OpenQuizer - Log in">
    <script>
        import PocketBase, { type RecordAuthResponse, type RecordModel } from 'pocketbase'
        const pb = new PocketBase(import.meta.env.PUBLIC_POCKETBASE)

        if (pb.authStore?.model) {
            location.replace('/settings')
        }

        const form = document?.getElementById('form') as HTMLFormElement
        form?.addEventListener('submit', async e => {
            e.preventDefault()
            const errorElem = document.getElementById('error-message') as HTMLParagraphElement

            const username = (document?.getElementById('username') as HTMLInputElement).value
            const password = (document?.getElementById('password') as HTMLInputElement).value

            let authStore: RecordAuthResponse<RecordModel> | null = null

            try {
                authStore = await pb.collection('users').authWithPassword(username, password)

                location.replace('/library')
            } catch(err) {
                console.log(err)
                renderError('Username or password wrong', errorElem)
            }
        }, true)

        function renderError(message: string, elem: HTMLParagraphElement | null) {
            if (elem?.innerText != undefined) 
                elem.innerText = message
        }
    </script>

    <main class="flex w-full h-full justify-center items-center">
        <form action="?" id="form" class="w-2/3 h-1/2 rounded-2xl bg-base-300 flex flex-col justify-center items-center gap-3">
            <h1 class="text-2xl font-bold">Log In</h1>
            <br />
            <p class="flex justify-center items-center gap-2">Username: <input type="text" name="username" id="username" placeholder="cool_username" class="input w-3/5 max-w-3xl text-sm"></p>
            <p class="flex justify-center items-center gap-2">Password: <input type="password" name="password" id="password" placeholder="Secure_password" class="input w-3/5 max-w-3xl text-sm"></p>
            <br />
            <p id="error-message" class="text-red-600"></p>
            <input type="submit" value="Log in" class="btn btn-primary">
            <br />
            <p>Don't have an account yet? <a href="/signup" class="btn btn-accent btn-sm">Sign Up</a></p>
        </form>
    </main>
</Layout>