---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---

<div class="card bg-base-100 w-96 max-w-sm h-48 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">{ title }</h2>
      <p>{ description }</p>
      <div class="card-actions justify-end">
        <a class="btn btn-primary" href="#">View</a>
      </div>
    </div>
</div>