---
import UserButton from "./UserButton.svelte"
---

<nav class="navbar bg-base-200 fixed">
    <div class="navbar-start max-sm:hidden">
        <a href="/" class="btn btn-ghost">OpenQuizer</a>
    </div>
    <div class="navbar-center">
        <ul class="flex gap-2">
            <li><a href="/discover" class="btn bg-base-300">Discover</a></li>
            <li><a href="/library" class="btn bg-base-300">My Library</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <UserButton client:load></UserButton>
    </div>
</nav>