---

---

<nav class="navbar bg-base-200">
    <div class="navbar-start">
        <a href="/" class="btn btn-ghost">OpenQuizer</a>
    </div>
    <div class="navbar-center">
        <ul class="flex gap-2">
            <li><a href="/discover" class="btn bg-base-300">Discover</a></li>
            <li><a href="/library" class="btn bg-base-300">My Library</a></li>
        </ul>
    </div>
    <div class="navbar-end">
        <a href="/login" class="btn btn-primary text-white">Log in</a>
    </div>
</nav>